---
import Image from "astro-imagetools";
---

<html>
  <body>
    <h1>Hello World!</h1>
    <Image
      src="/src/images/elva-800w.jpg"
      alt="A father holiding his beloved daughter in his arms"
    />
  </body>
</html>
